<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/default.css" />
    <link rel="stylesheet" href="/css/edit.css" />
    <link rel="icon" type="image/png" href="/images/edit.png" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"/>
    <title>Edit Task Page</title>
  </head>
  <body>
   <div class="card-container">
      <div class="card-nav">
        <a href="/"><i class="bi bi-house-door"></i></a>
        <h1 class="card-header">Edit Task Page</h1>
        <a href="/viewTask/<%= task.taskId %>"><i class="bi bi-x-square"></i></a>
      </div><h1>Edit Task</h1>

      <form action="/updateTask/<%= task.taskId %>" method="POST">
        <label>Title:</label>
        <input type="text" name="title" value="<%= task.title %>"><br>
    
        <label>Start Date:</label>
        <input type="date" name="startDate" value="<%= task.startDate %>"><br>
    
        <label>Start Time:</label>
        <input type="time" name="startTime" value="<%= task.startTime %>"><br>
    
        <label>End Date:</label>
        <input type="date" name="endDate" value="<%= task.endDate %>"><br>
    
        <label>End Time:</label>
        <input type="time" name="endTime" value="<%= task.endTime %>"><br>
    
        <label>Location:</label>
        <input type="text" name="location" value="<%= task.location %>"><br>
        
        <label>Description:</label>
        <textarea name="description"><%= task.description %></textarea><br>
    
        <label>Priority:</label>
        <select name="priority">
          <option value="low" <%= task.priority === "low" ? "selected" : "" %>>Low</option>
          <option value="med" <%= task.priority === "med" ? "selected" : "" %>>Medium</option>
          <option value="high" <%= task.priority === "high" ? "selected" : "" %>>High</option>
        </select><br>
    
        <label>Type:</label>
        <input type="text" name="type" value="<%= task.type %>"><br>
    
        <label>Status:</label>
        <select name="status">
          <option value="Not Started" <%= task.status === "Not Started" ? "selected" : "" %>>Not Started</option>
          <option value="In Progress" <%= task.status === "In Progress" ? "selected" : "" %>>In Progress</option>
          <option value="Completed" <%= task.status === "Completed" ? "selected" : "" %>>Completed</option>
        </select><br>
    
        <button type="submit">Update Task</button>
      </form>
      
    </div>
  </body>
</html>
