<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/default.css" />
    <link rel="stylesheet" href="/css/edit.css" />  
    <link rel="stylesheet" href="/css/delete-modal.css">
    <link rel="icon" type="image/png" href="/images/edit.png" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"/>
    <script src="/js/validationEditTask.js" defer></script>
    <title>Edit Task Page</title>
  </head>
  <body>
    <div class="card-container">
      <div class="card-nav">
        <a href="/"><i class="bi bi-house-door"></i></a>
        <h1 class="card-header">Edit Task</h1>
        <a href="/viewTask/<%= task.taskId %>"><i class="bi bi-x-square"></i></a>
      </div>

      <form action="/updateTask/<%= task.taskId %>" method="POST" id="edit-task-form">
        <div class="form-sub-container">
          <label class="form-title" for="title">Title</label>
          <input class="form-input" type="text" id="title" name="title" value="<%= task.title %>" >
          <span class="err" id="err-title">Title is required</span>
        </div>
      
        <div class="form-sub-container">
          <label class="form-title" for="dueDate">Due Date</label>
          <input class="form-input" type="date" id="dueDate" name="dueDate" value="<%= task.dueDate %>" >
          <span class="err" id="err-dueDate">Date is required</span>
        </div>
      
        <div class="form-sub-container">
          <label class="form-title" for="location">Location</label>
          <input class="form-input" type="text" id="location" name="location" value="<%= task.location %>">
          <span class="err" id="err-location">Location is required</span>
        </div>

        <div class="form-sub-container">
          <label class="form-title" for="description">Description</label>
          <textarea class="form-input form-input-text" id="description" name="description" rows="4"><%= task.description %></textarea>
          <span class="err" id="err-description">Description is required</span>
        </div>
      
        <div class="form-sub-container">
          <label class="form-title">Task Type</label>
          <select class="form-input" id="type" name="type" title="Please select a type">
            <option value="General" <%= task.type === "General" ? "selected" : "" %>>General</option>
            <option value="Work" <%= task.type === "Work" ? "selected" : "" %>>Work</option>
            <option value="School" <%= task.type === "School" ? "selected" : "" %>>School</option>
            <option value="Personal" <%= task.type === "Personal" ? "selected" : "" %>>Personal</option>
            <option value="Financial" <%= task.type === "Financial" ? "selected" : "" %>>Financial</option>
            <option value="Health" <%= task.type === "Health" ? "selected" : "" %>>Health</option>
            <option value="Travel" <%= task.type === "Travel" ? "selected" : "" %>>Travel</option>
          </select>
        </div>
      
        <div class="form-sub-container">
          <label class="form-title" for="priority">Priority</label>
          <select class="form-input" name="priority" id="priority" >
            <option value="Low" <%= task.priority === "Low" ? "selected" : "" %>>Low</option>
            <option value="Medium" <%= task.priority === "Medium" ? "selected" : "" %>>Medium</option>
            <option value="High" <%= task.priority === "High" ? "selected" : "" %>>High</option>
          </select>
        </div>
           
        <div class="form-sub-container">
          <label class="form-title" for="status">Status</label>
          <select class="form-input" name="status" id="status" >
            <option value="Not Started" <%= task.status === "Not Started" ? "selected" : "" %>>Not Started</option>
            <option value="In Progress" <%= task.status === "In Progress" ? "selected" : "" %>>In Progress</option>
            <option value="Completed" <%= task.status === "Completed" ? "selected" : "" %>>Completed</option>
          </select>
        </div>
      
        <div class="form-btn-container">
          <button type="button" class="submit-btn delete" name="DELETE" value="1" id="delete-btn">Delete Task</button>
          <button type="submit" class="submit-btn" name="PUT" value="1">Update Task</button>
        </div>
      </form>
      
    </div>
    
    <!-- Modal Structure -->
    <div id="dlt-modal" class="delete-modal">
      <div class="delete-modal-content">
        <h2 class="modal-title">Warning</h2>
        <p class="modal-content">Are you sure you want to delete this task?</p>
        <button class="submit-btn delete" id="confirm-delete">Delete</button>
        <button class="submit-btn" id="close-modal">Cancel</button>
      </div>
    </div>
  
    <script src="/js/deleteModal.js"></script>
  </body>
</html>

