<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/default.css" />
    <link rel="stylesheet" href="/css/view.css" />
    <link rel="icon" type="image/png" href="/images/view.png" />
    <title>View Task</title>
  </head>
  <body>
    <nav>
      <ul id="navigation">
        <li><a href="/">Home</a></li>
        <li><a href="editTask">Edit Task</a></li>
      </ul>
    </nav>
    <div class="card-container">
      <h1>Task Details:</h1>
      
      <h2><%= task.title %></h2>
      <p>Status: <%= task.status %></p>
      <p>Priority: <%= task.priority %></p>
      <p>Type: <%= task.type %></p>
      <p>Location: <%= task.location %></p>
      <p>Description: <%= task.description %></p>
      <p>Start: <%= task.startDate %> at <%= task.startTime %></p>
      <p>End: <%= task.endDate %> at <%= task.endTime %></p>
      <p>Created: <%= task.created.toDateString() %></p>
    
      <a href="/">Back to Task List</a>
  </body>
</html>
