<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/default.css" />
    <link rel="stylesheet" href="/css/view.css" />
    <link rel="icon" type="image/png" href="/images/view.png" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"/>
    <title>View Task</title>
  </head>
  <body>
    <div class="card-container">
      <div class="card-nav">
        <a href="/"><i class="bi bi-house-door"></i></a>
        <h1 class="card-header"><%= task.title %></h1>
        <a href="/editTask/<%= task.taskId %>"><i class="bi bi-pencil-square"></i></a>
      </div>
      <div class="info-container">
        <div class="info-sub-container"> 
          <h3><%= task.status %></h3>
        </div>
        <div class="info-sub-container">
          <p class="info-title">Priority</p>
          <div class="task-container bubble">
            <span class="color-bubble <%= task.priority %>"></span>
            <p class="task-text"><%= task.priority %></p>
            <div></div>
          </div>
        </div>

        <div class="info-sub-container">    
          <p class="info-title">Description </p>
          <div class="task-container">
            <p class="task-text"><%= task.description %></p>
          </div>
        </div>
        <div class="info-sub-container">  
          <p class="info-title">Location</p>
          <div class="task-container">
            <p class="task-text"><%= task.location %></p>
          </div>
        </div>
        <div class="info-sub-container">   
          <p class="info-title">Task Type: </p>
          <div class="task-container bubble">
            <span class="color-bubble <%= task.type %>"></span>
            <p class="task-text"><%= task.type %></p>
            <div></div>
          </div>
        </div>
        <div class="info-sub-container"> 
          <p class="info-title">Due Date</p>
          <div class="task-container">
            <p class="task-text"><%= new Date(task.dueDate).toLocaleDateString("en-US", { dateStyle: "medium" }) %></p>
          </div>
        </div>
        <div class="info-sub-container"> 
          <p class="info-title">Created</p>
          <div class="task-container">
            <p class="task-text"><%= new Date(task.created).toLocaleDateString("en-US", { dateStyle: "medium" }) %></p>
          </div>
        </div>
        <div>
          <button class="complete-btn">Mark as completed</button>
        </div>
    </div>
  </body>
</html>

